<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaofan.contentobseverdemo">

    <!-- 发送短信 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <!--往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!--在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>


    <application
        android:name="com.xiaofan.contentobseverdemo.application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Light.NoTitleBar"
        >
        <!-- ProviderMainActivity演示类 -->
        <activity android:name=".ProviderMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 消息列表界面 -->
        <activity android:name=".MessageListActivity" android:screenOrientation="portrait" />

        <!-- 自定义内容提供者CustomProvider类 -->
        <provider
            android:name="com.xiaofan.contentobseverdemo.provider.MessageProvider"
            android:authorities="com.xiaofan.contentobseverdemo.provider.messageprovider"
            android:exported="true" />

        <!-- 友盟相关 -->
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="0a0c6c614e834f6ec355b0390ed42d52" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58ac1adc310c931fc7000d82" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />

        <!-- 自定义处理消息的服务 -->
        <service android:name="com.xiaofan.contentobseverdemo.service.PushIntentService" />


    </application>

</manifest>